

<div class="container">
    <div class="field">
        <a>Username</a>
        <div class="input-block">
            <input type="text" placeholder="Username"
                [(ngModel)]="userName">
        </div>
        <a>Place</a>
        <div class="input-block">
            <input type="text" placeholder="Place"
                [(ngModel)]="userPlace">
        </div>
        <a>User Photo</a>
        <div class="input-block">
            <input type="text" placeholder="User Photo"
                [(ngModel)]="userPhoto">
        </div>
        <a>Photo</a>
        <div class="input-block">
            <input type="text" placeholder="Photo"
                [(ngModel)]="img">
        </div>
        <div class="input-block"><button (click)="generatePost()">Edit post</button></div>
        <div class="input-block"><button (click)="returnToPosts()">Posts</button></div>
    </div>
</div>