
<div class="header-wrapper">
    <div class="header">
        <img src="https://www.pngkey.com/png/full/717-7177939_designed-by-gage-the-designer.png"
            (click)="returnToPosts()">
        <button type="submit" (click)="authService.logout()">Log Out</button>
    </div>
</div>
<div class="container">
    <div class="field">
        <form class="ng-pristine ng-untouched ng-valid" novalidate #myForm="ngForm" [formGroup]="addForm" (ngSubmit)="editPost()">
            <a>Place</a>
            <div class="form-group">
                <input class="form-control" formControlName="userPlace" type="text" placeholder="Place" [(ngModel)]="userPlace" 
                required minlength="5" 
                >
            </div>
            <a>Photo</a>
            <div class="form-group">
                <input class="form-control" formControlName="img" type="text" placeholder="Photo" [(ngModel)]="img"
                required minlength="20" 
                >
            </div>
            <div class="input-block"><button type="submit" [disabled]="!myForm.valid" click="submit(myForm)">Add post</button></div>
         </form> 
         <div class="input-block"><button (click)="returnToPosts()">Posts</button></div>
    </div>
</div>
<footer>
    <h3>© EgorKrez.github.io 2020 | Developed by ME</h3>
</footer>
