<div class="container">
    <div class="input-block"><h1>userName </h1><input type="text" placeholder="{{this.postService.posts[this.authService.checkId - 1].userName}}" [(ngModel)]="userName"></div>
    <div class="input-block"><h1>userPlace</h1><input type="text" placeholder="{{this.postService.posts[this.authService.checkId - 1].userPlace}}" [(ngModel)]="userPlace"></div>
    <div class="input-block"><h1>userPhoto</h1><input type="text" placeholder="{{this.postService.posts[this.authService.checkId - 1].userPhoto}}" [(ngModel)]="userPhoto"></div>
    <div class="input-block"><h1>imagePath</h1><input type="text" placeholder="{{this.postService.posts[this.authService.checkId - 1].imagePath}}" [(ngModel)]="img"></div>
    <div class="input-block"><button (click)="editPost()">Edit post</button></div>
    <div class="input-block"><button (click)="returnToPosts()">Posts</button></div>

    
    
    
    
    
    </div>
    