<div class="header-wrapper">
    <div class="header">
        <img src="https://www.pngkey.com/png/full/717-7177939_designed-by-gage-the-designer.png" (click)="returnToPosts()">
        <button type="submit" (click)="authService.logout()">Log Out</button>
    </div>
</div>
<div class="container">
    <div class="field">
        <a>Username</a>
        <div class="input-block">
            <input type="text" placeholder="{{this.postService.posts[this.authService.checkId - 1].user.userName}}"
                [(ngModel)]="userName">
        </div>
        <a>Place</a>
        <div class="input-block">
            <input type="text" placeholder="{{this.postService.posts[this.authService.checkId - 1].userPlace}}"
                [(ngModel)]="userPlace">
        </div>
        <a>User Photo</a>
        <div class="input-block">
            <input type="text" placeholder="{{this.postService.posts[this.authService.checkId - 1].user.userPhoto}}"
                [(ngModel)]="userPhoto">
        </div>
        <a>Photo</a>
        <div class="input-block">
            <input type="text" placeholder="{{this.postService.posts[this.authService.checkId - 1].imagePath}}"
                [(ngModel)]="img">
        </div>
        <div class="input-block"><button (click)="editPost()">Edit post</button></div>
        <div class="input-block"><button (click)="returnToPosts()">Posts</button></div>
    </div>
</div>
<footer>
    <h3>© EgorKrez.github.io 2020 | Developed by ME</h3>
</footer>