<header>
    <div class="header-content">
        <img src="https://www.pngkey.com/png/full/717-7177939_designed-by-gage-the-designer.png">
        <input type="text" placeholder="Search">
        <button type="submit" (click)="authService.logout()">Log Out</button>
    </div>
</header>
<div class="posts">
    <div *ngFor="let item of posts">
            <app-post 
            [userName]='item.user.userName'
            [userPlace]='item.userPlace'
            [userPhoto]= 'item.user.userPhoto'
            [id]='item.id'
            [likeCount]='item.likeCount'
            [imagePath]='item.imagePath'
            [isLiked]='item.isLiked'
            [comments]="item.comments"
            >
            </app-post>
        </div>
</div>
<div class="button-wrapper"><button (click)="addComment()">Add new post</button></div>
<footer>
    <h3>© EgorKrez.github.io 2020 | Developed by ME</h3>
</footer>

