<div class="posts">
       <div *ngFor="let item of posts">
           <h1>hui</h1>
            <app-post 
            [userName]='item.userName'
            [userPhoto]= 'item.userPhoto'
            [id]='item.id'
            [likeCount]='item.likeCount'
            [imagePath]='item.imagePath'
            [isLiked]='item.isLiked'
            [comments]="item.comments"
            >
            </app-post>

        </div>
</div>
<h1>ZALUPA</h1>
<button type="submit" (click)="authService.logout()"></button>
