<div class="container">
    <div class="content">
        <div class="header">
                <img src="https://www.pngkey.com/png/full/717-7177939_designed-by-gage-the-designer.png" (click)="returnToPosts()">
                <button type="submit" (click)="authService.logout()">Log Out</button>
        </div>
        <header>
            <div class="header-content">
                <img src="{{newPost.user.userPhoto}}">
                <h1>{{newPost.user.userName}}</h1>
            </div>

        </header>
        <main>
            <div *ngFor="let item of posts">
                <div *ngIf="item.user.userName == newPost.user.userName">
                    <div class="user-block" style="background-image: url('{{item.imagePath}}');"
                        (click)="openPost(item.id)">
                        <a>&#10084;{{item.likeCount}}</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
