.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header {
    height: 150px;
    width: 100%;
}
main {
    border-top: 1px solid silver;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.user-block {
    height: 285px;
    width: 285px;
    margin: 30px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: transparent 
}
.user-block:hover {
    cursor: pointer;
    filter: brightness(80%);
    transition: 0.1s linear;
    color: black;
    color-interpolation-filters: linearRGB ;
}
img {
    height: 100%;
    width: 100%;
}
.header-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 50px;
}
.header-content img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.header-content h1 {
    margin-left: 50px;
}
button {
    margin-left: 50px;
    height: 30px;
    width: 100px;
}